body{
	background:#000000;
}
section{
	background-color:#252424;
	color:#82FE35;
	padding:5px;
	border-radius:3px;
}
span{
	margin-top:10px;
}
h2{
	color:#fff;
	font-family:Apple-font;
	border-bottom:2px solid #29F86D;
	color:#29F86D;
	margin:10px;
	font-size:bold;
}
#login-section form{
	padding:10px;
}
input[type='text']{
	width:100%;
	height:40px;
	border:none;
	border-radius:5px;
	outline:none;
	transition:0.5s;
	background:#000;
	padding:5px;
	color:#fff;
	margin-top:5px;
}
input[type='password']{
	margin-top:5px;
	width:100%;
	height:40px;
	border:none;
	border-radius:5px;
	outline:none;
	transition:0.5s;
	padding:5px;
	background:#000;
	color:#fff;
}
input[type='submit']{
	width:100%;
	height:40px;
	margin-top:10px;
	border:none;
	border-radius:8px;
	outline:none;
	transition:1s;
	background:#473806;
	color:#29F86D;
}
li{
	list-style-type:none;
}
.radios{
	border:none;
	border-radius:5px;
	outline:none;
	transition:0.5s;
	padding:5px;
	background:#000;
}
input[type='text']:focus{
	border-bottom:2px solid #29F86D;
	border-radius:0;
	background:none;
	color:#fff;
}
input[type='password']:focus{
	border-bottom:2px solid #29F86D;
	background:none;
	border-radius:0;
	color:#fff;
}
@media (max-width:1024px) and (min-width:800px) {
	section{
		width:400px;
		margin:25%;
	}
	
}
@media (max-width:799px) and(min-width:600px){
	section{
		width:300px;
		margin:20%;
	}
}
a{
	text-decoration:none;
	color:#29F86D;
}