body{
	background:#6E6969;
	margin:0;
	color:#82FE35;
}
.demo-img img{
	width:100px;
	border-radius:5px;
}
.demo-img{
	background:#443C11;
	width:100px;
	border-radius:5px;
	padding:5px;
}
p em{
	font-size:20px;
}